---
import { Image } from 'astro:assets';
import logoImg from '../assets/logo.png';

const navItems = [
  { label: 'Inicio', href: '/' },
  { label: 'Investigación', href: '/investigacion' },
  { label: 'Publicaciones', href: '/publicaciones' },
  { label: 'Equipo', href: '/equipo' },
  { label: 'Recursos', href: '/recursos' },
  { label: 'Blog', href: '/blog' },
  { label: 'Congresos', href: '/congresos' },
];
---

<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="flex font-serif font-bold items-center">
      <Image 
        src={logoImg} 
        alt="Company Logo Image" 
        class="rounded-lg"
        width={48}
        height={48}
      />
      <span class="ml-2">Hormonas y Conducta</span>
    </a>
    <nav class="hidden md:flex space-x-6">
      {navItems.map(item => (
        <a href={item.href} class="text-gray-700 hover:text-primary-500 transition duration-150 ease-in-out">
          {item.label}
        </a>
      ))}
    </nav>
    <a href="/contacto" class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-600 transition duration-150 ease-in-out">
      Contacto
    </a>
  </div>
</header>
